<form action="/artist-search" method="GET">

  <label for="name-input">Name</label>
  <input id="name-input" type="text" name="name" />

   <button type="submit">submit</button>
</form>

{{!-- <form action="/artist-search" method="get">
    <input type="text" name="ArtistName" id="" placeholder="Insert artist name here...">
    <button type="submit"> Find artists! </button>
</form> --}}
